.main-home {
    height: 90vh;
    background-color: #00ff00;
    border-radius: 0px 0px 0px 21rem;
    opacity: 1;
    margin-bottom: 5rem;
    padding: 1.5rem 4rem 0 4rem;
  }
  
  .header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-left-second {
    margin-right: 1rem;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
  }
  
  .header-right-first-btn {
    box-shadow: 0px 4px 20px #00000029;
    border-radius: 33px;
    opacity: 1;
    margin-right: 1rem;
    border: none;
    background-color: #000000;
    color: white;
    width: 10rem;
    padding: 0.5rem;
    font-size: medium;
  }
  .header-right-second-btn {
    box-shadow: 0px 4px 20px #00000029;
    border-radius: 33px;
    opacity: 1;
    border: none;
    background-color: white;
    width: 10rem;
    padding: 0.5rem;
    font-size: medium;
  }
  
  .main-home1 {
    height: 102vh;
    background-color: #000000;
  }
  
  .main-home2 {
    height: 100vh;
    background-color: #ededed;
  }


.about-header{
    
    color: #00FF00;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 4rem; 
    line-height:35px ; 
    background: #000000;
    
}
.title{
    color: #FFFFFF;
    font-size: 0.6rem;
    line-height: 30px;  
}

.about-flex-row {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    padding: 6rem 5rem 0.1rem 16.706rem;
}

.about-flex-row > div {
    background-color:  #000000;
    margin: 10px;
    text-align: start;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 0.9rem;
    align-items: center;
    
  }
    p{
    padding: 0 ;
    margin: 0;
  }


.flex-row {
  display: flex;
  flex-wrap: wrap;
  background-color: #EDEDED;
  padding: 6rem 5rem 0.01rem 16.706rem;
}

.flex-row > div {
  background-color:  #EDEDED;
  margin: 10px;
  text-align: start;
  font-weight: bold;
  color: #000000;
  font-size: 0.9rem;
  align-items: center;
  }

.contact-header{
    color: #09090A;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    padding-top: 7.625rem; 
    line-height:35px ;
    background: #EDEDED;
}

